<!DOCTYPE html>
<html>
        <body>
                <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">


                <h2 align="center"style="color:beige">Register to my website</h2>

                <form action="/registration" method="POST">
                        <fieldset>
                                        <legend>Personal information</legend>
                                First name:<br>
                                <input type="text" name="firstname" placeholder="First name" required>
                                <br>
                                Last name:<br>
                                <input type="text" name="lastname" placeholder="Last Name" required>
                                <br> 
                                Address :<br>
                                <input type="text" name="Address" placeholder="Address">
                                <br>
                                Email :<br>
                                <input type="text" name="Email" placeholder="Email" required>
                                <br>
                                Password :<br>
                                <input type="text" name="Password" placeholder="Password">
                                <br>
                                Phone Number :<br>
                                <input type="number" name="Phone number" placeholder="Phone Number">
                                <br>
                                Date of Birth:<br>
                                <input type="date" name="dateOfBirth" placeholder="dd/mm/yyyy">
                                <br>
                                <br>
                                User Description:<br>
                                <textarea name="message" rows="10" cols="30" placeholder="Please enter a user description"></textarea>
                                <br>

                                <input type="submit" value="Submit">
                        </fieldset>
                </form> 
                <form action="homePage.html" method="GET">
                        <button type="submit" formaction="homePage.html">Return  home</button>
                </form>

        </body>
</html>