<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name= "viewport" content="width=device-width", initial-scale=1.0 >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="main.css">
<title align="center">Error Bot</title>
<script type="text/javascript" src="js/main.js"> </script>
<link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <h1 align="center"style="color:beige">IT and CS topics</h1>
    </header>
    <p align="center"style="color:beige"><font size="12"> 
        CS Topic
        
   </font> </p>
   <p align="center"style="color:beige"><font size="2"> 
        The decision to create the system kept modularity as a key component in the system. As such the ability of the system to take error codes from discord and place it into a database where any administrator can view data on specific errors in a system can be implemented in many different systems while keeping the main flow of the system. This be the inputs for the system can be one thing or many. Where a company can make the decision to accept inputs from Discord, Twitter, and even forums and other websites to log data in to the database. Likewise the database can be adapted to support systems which can link a user who gets an error based on what is on the database to an automated help system and then further if there is a new, unique error or an error without a solution it can be logged through the existing system and a message can be sent back to the user. 

        
   </font> </p>
   <p align="center"style="color:beige"><font size="2">
        The system also is very extensible as the system can be expanded into other systems such as the previously mentioned automated assistance system as well as can be extended into a variety of other systems such as that of an information system to make quality of life improvements in systems such as web servers, video games and systems which may require large amounts of automated user assistance. This means the system needs to be able to be scalable to fit user requirements. 

    </font> </p>


    <p align="center"style="color:beige"><font size="2">
       Scalability is also a focus of the system keeping in mind that not all users will have the same requirements for the system. As such the system has been made to be able to be as flexible and efficient as possible to allow users to customize the system and allow for the system to be scaled up or down based on the number of users the system will have on it, the amount of data which would be handled and how frequently the system needs to be updated. As such the system created has been made in such a way to keep these factors in mind to remain as scalable as possible. 

        </font> </p>

    <p align="center"style="color:beige"><font size="2">
            In conclusion it can be seen that while efficiency may be a trade off for scalability and extensibility as well as modularity, the implementation of the system allows the system to be fine tuned to a user’s needs allowing it to be a well done implementation to fit the market without the need to change the system greatly in order for a company to invest in the system. This allows marketability and allow the developers the ability to make the system a packaged system that can have a set price which can allow the developers to have high security on the system as there would not be need for independent developers to see the code as support can be done by the developers. 
        </font> </p>
    


 
        <p align="center"style="color:beige"><font size="12"> 
               IT Topic
                
           </font> </p>
           <p align="center"style="color:beige"><font size="2"> 
                The proposed system is one which takes in messages from Discord and logs the error messages people would have gotten into a database which allows the user viewing the data to make decisions and gain statistics on errors and problems which users have occurred. As such the system is meant to assist a user on decision making where a user can look at the errors that client experience, over what time period and how fast the errors could be fixed.    
                
           </font> </p>
           <p align="center"style="color:beige"><font size="2">
                The system also has a very large transformative effect as many companies namely those of gaming companies tend to have a lot of clients with a large amount of errors, issues and problems. As such the development of a system like this can change the playing field in that solutions can be proposed based on error codes instead of a FAQ or other less accurate system as error codes can be generated for every specific problem. On top of this, the administrators can easily view the number of errors users have encountered, how long it was taken to fix the problem and why it took so long as there will be logs in their database allowing them to improve their business model and further enhance their system. 
            </font> </p>
        
        
            <p align="center"style="color:beige"><font size="2">
                    Finally, the system also has a large impact on business value, as a system like this can be made as an off the shelf software rather than a custom software as the way the system is built is that it is meant to be all-inclusive. That is that a company can purchase the system, easily integrate the code into Twitter, Discord, Facebook etc. and use a database made by the developers or even plug their data into a custom database. On top of this the system if it is built as off the shelf software will be able to be made in such a way to assure security as well as allow customers to use the system cheaply. This means that any company from a small business to a large one can use the software without discrimination and be able to have the ability to fit the software to their needs. A system like this can then be used by any business looking for statistical or employee analysis and be able to get their information readily available. 

                </font> </p>
        
            <p align="center"style="color:beige"><font size="2">
                    To conclude, this system has a very good idea implementation, however it does not showcase the entirety of the power and scale the system can be at. As currently the system only allows for Discord integration and has minimal power to ensure stability, however the system can easily be expanded upon and have a much greater impact on modularity and efficiency. This system, while it does do a good job of showing the main idea of what the developers wish to produce can become much better with an increased development schedule allowing for the use of more statistical analysis tools, and more media to be used as plugins for the database. 
                </font> </p>       

   
</div>


<style>
        .button {
          background-color: #4CAF50; /* Green */
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }
        
        .button2 {background-color: #008CBA;} /* Blue */
        
        </style>
     <form action="homePage.html" method="GET">
            <button type="submit" class="button" formaction="homePage.html">Home</button>
     </form>
     <form action="IO problem.html" class="button button2" method="GET">
            <button type="submit" formaction="IO problem.html">IO problems</button>
     </form>

     <footer>
            <p align="right"> <font size="1">
                Designed by Damian Jawahir for INFO2602
                </p>
            </footer>
</body>
</html>