body {
    
     background-image: url("background.jpg"); 
      background-position: center;  
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-attachment: unset; 
    background-size: cover;

  }
  
 
  p {
    font-family: verdana;
    font-size: 20px;
  }

  #myInput {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
